<!DOCTYPE html>
<html lang="en">
<head>
<body>
  
  <pre>






  

    {{jar2}}


    <div>
    {{jar3}}
    </div>

    {{jar4}}
    

    {{jar5}}



    {{jar6}}


<div>
    {{jar7}}
</div>


    <!-- {{jar8}} -->

      




  </pre>
</body>
</html>

<!-- 

<html>

<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'End-Years');
      data.addColumn('number', 'intensity');
      data.addColumn('number', 'likelihood');
      data.addColumn('number', 'relevance');

      data.addRows([
        [2016, 16, 4, 4,],
        [2017, 16, 4, 4,],
        [2018, 16, 4, 4,],
        [2018, 16, 4, 4,],
        [2018, 14, 2, 7,],
        [2019, 16, 4, 4,],
        [2019, 16, 4, 4,],
        [2019, 16, 4, 4,],
        [2019, 16, 4, 4,],
        [2020, 20, 4, 5,],
        [2020, 16, 4, 4,],
        [2020, 16, 4, 4,],
        [2030, 8, 4, 4,],



      ]);

      var options = {
        chart: {
          title: 'Oil',
          subtitle: 'United States of America'
        },
        width: 900,
        height: 500,
        axes: {
          x: {
            0: { side: 'top' }
          }
        }
      };

      var chart = new google.charts.Line(document.getElementById('line_top_x'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }

  </script>
 <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
 <canvas id="chart"></canvas>
 let ctx = document.getElementById("chart").getContext("2d");
let chart = new Chart(ctx, {
  type: "bar",
  data: {
   labels: ["2020/Q1", "2020/Q2", "2020/Q3", "2020/Q4"],
   datasets: [
    {
      label: "Gross volume ($)",
      backgroundColor: "#79AEC8",
      borderColor: "#417690",
      data: [26900, 28700, 27300, 29200]
    }
   ]
  },
  options: {
   title: {
    text: "Gross Volume in 2020",
    display: true
   }
  }
});


</head>

<body>
  <nav style="
  background-color: mediumpurple;
  height: 68px;
  position: relative;
  top: -18px;">

    <div class="logo">
        <img src="https://seeklogo.com/images/F/flipkart-logo-5CE68C24AF-seeklogo.com.png" alt="">
    </div>

    <div class="search">
        <input type="text" name="" id="" placeholder="Search Here">
        <button class="btn">Search</button>
    </div>

</nav>
  <div id="line_top_x"></div>
  <div id="line_top_y" style="display: inline;
  display: flex;
  float: right;
  position: relative;
  top: -502px;
"></div>
  <div id="line_top_z"></div>
  <div id="line_top_a"></div>
  <div id="line_top_b"></div>
  <div id="line_top_c"></div>
  <div id="line_top_d"></div>
  <div id="line_top_e"></div>
  <div id="line_top_f"></div>
  <div id="line_top_g"></div>
  <div id="line_top_h"></div>

</body>

</html> -->